@import "mixins";

/* Global 
 *****************************************/
body {
  background-color: #f0f0f0;
  font-size: 13px;
  font-family: 'Open Sans','arial';
  line-height: 23px;
  font-weight: 400;
}

.admin_body {
  float: left;
  width: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: normal;
  font-family: 'Open Sans','arial';
  color: inherit;
  text-rendering: optimizelegibility;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #1fae66;
}

a:hover, a:focus {
  text-decoration: none;
  color: #0D9C54;
  outline: none;
}

img {
  max-width: 100%;
}

.badge {
  padding: 4px 6px;
  font-size: 9px;
  @include transform(scale(0.86));
}

.bg-red {
  background-color: #f85d2c !important
}

.bg-green {
  background-color: #1fae66 !important
}

.bg-yellow {
  background-color: #f89c2c !important
}

.bg-blue {
  background-color: #23709e !important
}

.bg-white {
  background-color: #fff !important
}

.bg-black {
  background-color: #111 !important
}

.bg-grey {
  background-color: #777 !important
}

.bg-dark-red {
  background-color: #724c3f !important
}

.bg-dark-green {
  background-color: #2e8258 !important
}

.bg-dark-blue {
  background-color: #39515f !important
}

.bg-dark-yellow {
  background-color: #7f684d !important
}

.bg-soft-red {
  background-color: #ff7c62 !important
}

.bg-soft-green {
  background-color: #4abc96 !important
}

.bg-soft-yellow {
  background-color: #f2be3e !important
}

.bg-soft-blue {
  background-color: #67b8cb !important
}

.bg-soft-grey {
  background-color: #b5b5b5 !important
}

.bg-facebook {
  background-color: #436eac !important
}

.bg-twitter {
  background-color: #0598c9 !important
}

.bg-linkedin {
  background-color: #2e8cc2 !important
}

.bg-googleplus {
  background-color: #cf1900 !important
}

.bg-black-10 {
  background-color: rgba(0,0,0,0.1) !important
}

.bg-black-20 {
  background-color: rgba(0,0,0,0.2) !important
}

.bg-black-30 {
  background-color: rgba(0,0,0,0.3) !important
}

.bg-black-40 {
  background-color: rgba(0,0,0,0.4) !important
}

.bg-black-50 {
  background-color: rgba(0,0,0,0.5) !important
}

.bg-black-60 {
  background-color: rgba(0,0,0,0.6) !important
}

.bg-black-70 {
  background-color: rgba(0,0,0,0.7) !important
}

.bg-black-80 {
  background-color: rgba(0,0,0,0.8) !important
}

.bg-black-90 {
  background-color: rgba(0,0,0,0.9) !important
}

.bg-white-10 {
  background-color: rgba(255,255,255,0.1) !important
}

.bg-white-20 {
  background-color: rgba(255,255,255,0.2) !important
}

.bg-white-30 {
  background-color: rgba(255,255,255,0.3) !important
}

.bg-white-40 {
  background-color: rgba(255,255,255,0.4) !important
}

.bg-white-50 {
  background-color: rgba(255,255,255,0.5) !important
}

.bg-white-60 {
  background-color: rgba(255,255,255,0.6) !important
}

.bg-white-70 {
  background-color: rgba(255,255,255,0.7) !important
}

.bg-white-80 {
  background-color: rgba(255,255,255,0.8) !important
}

.bg-white-90 {
  background-color: rgba(255,255,255,0.9) !important
}

.background-login {
  background: #F0F0F0 !important
}

.sidebar, .admin-container, .expand-menu, .menu, a, header, .mega-menu>ul>li {
  transition: all .3s ease 0s;
}

@mixin collapsedSidebarItem ($width, $linkPadding, $menuTextDisplay, $iconFontSize, $iconHeight, $iconLineHeight) {
  width: $width; 

  &.collapsed-sidebar {
    margin-left: -$width;
  }

  .navbar-bottom-widget {
    width: $width;
  }

  .panel-menu, .menu-title {
    display: none !important;
  }

  .menu-badge {
    float: none;
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .admin-menu > ul > li > a {
    font-size: 12px;
    text-align: center;
    padding: $linkPadding;

    .menu-text {
      display: $menuTextDisplay;
      line-height: 1.6;
    }
  }

  .admin-menu {
    .menu-icon {
      font-size: $iconFontSize;
      margin-right: 0;
      width: 100%;
      height: $iconHeight;
      line-height: $iconLineHeight;
      float: none;
    }

    ul li .child-menu {
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 10;
      width: 240px;
      background: rgba(0,0,0,0.8);
      border-top: 4px solid #000000;

      a {
        text-align: left;
        padding: 3px 20px 5px;

        &:hover {
          background: #1fae66;
        }
      }
    }
  }
}

/* Header 
 *****************************************/
header {
  height: 63px;
  z-index: 999;

  &.collapsed-header {
    margin-top: -63px;
  }

  .top-menu-wrapper {
    background-color: #242729;
    width: 100%;
    z-index: 999;
    position: absolute;
    -webkit-box-shadow: 0 -2px 4px rgba(50,50,50,0.75);
    box-shadow: 0 -2px 4px rgba(50,50,50,0.75);
  }

  .header-container {
    height: 63px;
    margin-left: 245px;
  }
}

.top-nav {
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  .panel-header {
    position: relative;
  }

  .panel-menu {
    top: 16px;

    .menu {
      color: #BABABA;
      background: rgba(0,0,0,0.6);
      border-color: rgba(0,0,0,0.1);
      height: 30px;
      line-height: 28px;
      width: 30px;

      &:hover {
        color: #fff;
        background: rgba(0,0,0,0.5);
        border-color: rgba(0,0,0,0.1)
      }

      &.actived {
        margin-top: 1px;
        color: #1fae66;
        background: #0E0E0E;
        border-color: #000 #333 #333 #000;
      }
    }
  }

  .logo {
    float: left;

    a { 
      margin-top: 17px;
      width: 120px;
      display: inline-block;
    }
  }
}

.panel-menu {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  margin-right: -10px;

  .menu {
    @include border-radius(4px);
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid #fff;
    color: #fff;
    position: relative;

    &:hover {
      background-color: #fff;
      color: #1fae66;
      cursor: pointer;
    }
  }
}

.menu-search {
  width: 300px;
  background: #FFF;
  padding: 2px 0 2px 13px;
  margin-left: 3px;
  font-size: 12px;
  margin-top: 18px;
  position: relative;
  @include border-radius(30px);

  #search-category {
    text-decoration: none;
    color: #444;
    cursor: pointer;
  }

  .menu-search-text {
    border: none;
    color: #444;
    padding: 0;
    width: 60% !important;
  }

  .menu-search-category {
    margin-right: 10px;
    position: relative;
    display: inline-block;

    .separator {
      border-left: 1px dotted #333;
      margin-right: 8px;
      height: 16px;
      margin-bottom: -3px;
      display: inline-block;
    }

    .text {
      margin-right: 6px;
      color: #444;
    }
  }

  .menu-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    background: #1fae66;
    color: #FFF;
    padding: 2px 8px;
    @include border-radius(30px);

    &:hover {
      cursor: pointer;
      background-color: #23c473;
    }
  }
}

.mega-menu-wrapper {
  width: 100%;
  position: relative;
  z-index: 3;

  .mega-ul {
    margin: 0;
    padding: 0;

    & > .mega-li {
      float: left;
      position: relative;
      margin-left: 5px;
      padding: 18px 7px 20px;
      height: 63px;
    }
  }

  .mega-li {
    list-style: none;

    a {
      color: #ccc;
    }

    .badge {
      position: absolute;
      right: 4px;
      top: 4px;
      background-color: #f85d2c !important;
    }

    &.one-icon {
      padding: 13px 7px 14px;

      & > .mega-link {
        border: 2px solid #EEE;
      }

      .mega-link {
        display: block;
        height: 36px;
        width: 36px;
        line-height: 30px;
        text-align: center;
        padding: 0;
        margin: 0;
        overflow: hidden;
        @include border-radius(30px);

        .mega-icon {
          font-size: 16px;
        }
      }

      & > .mega-link:hover {
        background-color: #fff !important;
        color: #1fae66;
      }
    }
  }

  .mega-ul li.profile {
    margin-left: 15px;
    padding: 13px 7px 14px;

    .mega-link {
      width: auto;
      height: auto;
    }

    .mega-image {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 30px;

      img {
        @include border-radius(30px);
        vertical-align: top;
      }
    }

    .mega-name {
      display: block;
      float: left;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  li.one-big-icon {
    padding: 14px 4px 13px;

    .badge {
      right: -4px;
      top: 5px;
    }

    .mega-link {
      font-size: 24px;
      display: block;
      height: 36px;
      width: 36px;
      line-height: 30px;
      text-align: center;
      padding: 0;
      margin: 0;
      overflow: hidden;
      @include border-radius(30px);
    }
  }
}

/* Left sidebar
 **********************************************/
#left-sidebar-wrapper {
  left: 0;
}

.sidebar {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  height: 100%;
  box-shadow: -5px 0 5px -5px #999 inset;
  background-color: #1fae66;
  color: #fff;

  .admin-menu ul li .child-menu {
    background: rgba(0,0,0,0.55);
    border-top: #3A3A3A solid 1px;
    padding: 5px 20px 15px;
    font-size: 12.5px;
    display: none;

    ul li {
      margin-left: -20px;
      margin-right: -20px;

      a {
        padding: 3px 20px 5px;

        &:hover {
          background: rgba(255,255,255,0.2);
        }
      }
    }
  }

  &.normal {
    width: 260px;

    &.collapsed-sidebar {
      margin-left: -260px;
    }
  }

  &.small {
    @include collapsedSidebarItem (50px, 10px 5px, none, 18px, 24px, 22px);

    .expand-menu .menu-icon {
      font-size: 18px;
    }

    .admin-menu>ul>li>a>.menu-text {
      display: none;
    }
  }

  &.medium {
    @include collapsedSidebarItem (140px, 12px 20px, inline-block, 36px, 40px, 38px);
  }
}

.navbar-tabs-menu {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  background-color: #393d41;

  .badge {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .expand-menu {
    position: relative;
    height: 50px;
    line-height: 50px;
    display: none;
    text-align: center;
    vertical-align: middle;

    .menu-icon {
      font-size: 28px;
    }

    .menu-icon-right {
      display: none;
    }
  }

  .mega-menu-wrapper {
    margin-top: -5px;

    .mega-menu {
      float: left;

      .mega-ul {
        .mega-li {
          height: 60px;
          padding: 13px 7px 10px;
          margin-left: 12px;

          &.one-icon .mega-link:hover {
            color: #1fae66;
            cursor: pointer;
          }

          a {
            color: #fff;
            border: none;
            line-height: 36px;
          }
        }
      }
    }
  }
}

.admin-menu {
  margin-left: -20px;
  margin-right: -20px;
  font-size: 14px;

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    position: relative;
  }

  a {
    color: #FFF;
    display: block;
    font-weight: 400;
  }

  .menu-icon {
    font-size: 18px;
    width: 24px;
    height: 22px;
    line-height: 20px;
    float: left;
    display: block;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
  }

  .menu-badge {
    float: right;
  }

  & > ul > li {
    & > a {
      padding: 8px 20px;
      border-top: 1px solid rgba(255,255,255,0.2);
      border-bottom: 1px solid rgba(0,0,0,0.15);
      position: relative;

      &:hover {
        background: rgba(255,255,255,0.15);
      }
    }

    &:first-child a {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }
}

.navbar-menu-wrapper {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.5) inset);

  .panel-menu {
    right: 12px;
    top: 12px;
  }

  .menu-title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.navbar-spacing {
  height: 300px;
}

.navbar-bottom-widget {
  position: absolute;
  bottom: 0;
  width: 260px;

}

/* Right sidebar
 **********************************************/
#right-sidebar-wrapper {
  right: 0;
  margin-right: -260px;
}


/* Main Content 
 **********************************************/
.content { 
  position: relative;

  .container-fluid {
    position: relative;
  }
}

.admin-container {
  .head-section { 
    margin-right: -15px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #F8F8F8;
    padding: 0 20px;

    .panel-header {
      position: relative;
    }

   .panel-menu .menu {
      color: #666;
      border: none;
      width: 30px;
      height: 29px;
      line-height: 29px;
      border-right: 1px solid #DDDDDD;
      -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.5) inset;
      box-shadow: 1px 0 0 rgba(255,255,255,0.5) inset;
      margin-right: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      &:hover, &.active {
        background-color: #666;
        border-right-color: #EEE;
        color: #FFF;
      }
    }

    .panel-menu .menu:first-child {
      border-left: 1px solid #DDDDDD;
    }
  }

  &.normal {
    margin-left: 245px;
  }

  &.small {
    margin-left: 35px;
  }

  &.medium {
    margin-left: 125px;
  }

  &.expanded {
    margin-left: 0px;
  }
}

.breadcrumb {
  background: none;
  padding: 3px 0px;
  font-weight: normal;
  font-size: 11px;
  margin-bottom: 0;

  & > .active {
    color: #555;
  }

  & > li + li:before {
    color: #aaa;
  }
}
