<header>
</header>

<div class='content'>
  <div class='container-fluid'>
    <div id='left-sidebar-wrapper' class='sidebar normal'>
    </div>

    <div id='right-sidebar-wrapper' class='sidebar'>
    </div>

    <div class='admin-content-wrapper' style='min-height: 1059px'>
      <div class='admin-container normal' style='min-height: 1059px'>
        <div id='head-section' class="head-section clearfix">
        </div>

        <div id='title-section'>
        </div>

        <div id='content-section'>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
</footer>
