<a href="#notifications" class="mega-link open" data-action="click-trigger">
  <span class="mega-icon"><i class="fa fa-globe"></i></span>
  <span class="badge vd_bg-red"></span>
</a>

<div class="mega-menu-content" style="display: none;">
  <div class="child-menu">  
    <div class="title"> 
      Notifications 
      <div class="panel-menu">
        <span data-original-title="Notification Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
          <i class="fa fa-cog"></i>
        </span>                   
      </div>
    </div>                 
    <div class="content-list"> 
      <div data-rel="scroll" style="overflow: hidden;">
        <ul class="list-wrapper">
          <li> <a href="#">
            <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div> 
            <div class="menu-text">  Added new article
              <div class="menu-info"><span class="menu-date">19 Days Ago</span></div>                              
            </div>
          </a> </li> 
          <li> <a href="#">
            <div class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></div>
            <div class="menu-text">  Change Profile Pic
              <div class="menu-info"><span class="menu-date">20 Days Ago</span></div>
            </div>
          </a> </li>
          <li> <a href="#">
            <div class="menu-icon vd_red"><i class=" fa fa-cogs"></i></div> 
            <div class="menu-text">  Your setting is updated
              <div class="menu-info"><span class="menu-date">12 Days Ago</span></div>
            </div>
          </a> </li>                                     
          <li> <a href="#">
            <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div> 
            <div class="menu-text">  Added new article
              <div class="menu-info"><span class="menu-date">19 Days Ago</span></div>
            </div>
          </a> </li> 
        </ul>
      </div>
      <div class="closing text-center" style="">
        <a href="#">See All Notifications <i class="fa fa-angle-double-right"></i></a>
      </div>                                                                       
    </div>                              
  </div> <!-- child-menu -->                      
</div>   <!-- mega-menu-content -->         
