<a href="#notifications" class="mega-link open" data-action="click-trigger">
  <span class="mega-icon"><i class="fa fa-globe"></i></span>
  <span class="badge bg-red"></span>
</a>

<div class="mega-menu-content" style="display: none;">
  <div class="child-menu">  
    <div class="title"> 
      Notifications 
      <div class="panel-menu top-menu">
        <span data-original-title="Notification Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
          <i class="fa fa-cog"></i>
        </span>                   
      </div>
    </div>                 
    <div class="content-list"> 
      <div data-rel="scroll" style="overflow: hidden;">
        <ul class="list-wrapper">
        </ul>
      </div>
      <div class="closing text-center" style="">
        <a href="#">See All Notifications <i class="fa fa-angle-double-right"></i></a>
      </div>                                                                       
    </div>                              
  </div> <!-- child-menu -->                      
</div>   <!-- mega-menu-content -->         
