<a href="#notifications" class="mega-link open" data-action="click-trigger">
  <span class="mega-icon"><i class="fa fa-globe"></i></span> 
  <span class="badge vd_bg-red">51</span>        
</a>
<div class="vd_mega-menu-content  width-xs-3 width-sm-4  center-xs-3 left-sm" data-action="click-target" style="display: block;">
  <div class="child-menu">  
    <div class="title"> 
      Notifications 
      <div class="vd_panel-menu">
        <span data-original-title="Notification Setting" data-toggle="tooltip" data-placement="bottom" class="menu">
          <i class="fa fa-cog"></i>
        </span>                   
        <!--                     <span class="text-menu" data-original-title="Settings" data-toggle="tooltip" data-placement="bottom">
                        Settings
                    </span> -->                                                              
      </div>
    </div>                 
    <div class="content-list"> 
      <div data-rel="scroll" class="mCustomScrollbar _mCS_3" style="overflow: hidden;"><div class="mCustomScrollBox mCS-light" id="mCSB_3" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 400px;"><div class="mCSB_container" style="position: relative; top: 0px;">  
        <ul class="list-wrapper pd-lr-10">
          <li> <a href="#"> 
            <div class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></div> 
            <div class="menu-text"> Someone has give you a surprise 
              <div class="menu-info"><span class="menu-date">12 Minutes Ago</span></div>
            </div> 
          </a> </li>
          <li> <a href="#"> 
            <div class="menu-icon vd_blue"><i class=" fa fa-user"></i></div> 
            <div class="menu-text">  Change your user profile details
              <div class="menu-info"><span class="menu-date">1 Hour 20 Minutes Ago</span></div>
            </div> 
          </a> </li>    
          <li> <a href="#"> 
            <div class="menu-icon vd_red"><i class=" fa fa-cogs"></i></div> 
            <div class="menu-text">  Your setting is updated
              <div class="menu-info"><span class="menu-date">12 Days Ago</span></div>                            
            </div> 
          </a> </li>                                     
          <li> <a href="#"> 
            <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div> 
            <div class="menu-text">  Added new article
              <div class="menu-info"><span class="menu-date">19 Days Ago</span></div>                              
            </div> 
          </a> </li> 
          <li> <a href="#"> 
            <div class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></div> 
            <div class="menu-text">  Change Profile Pic
              <div class="menu-info"><span class="menu-date">20 Days Ago</span></div>                              
            </div> 
          </a> </li>
          <li> <a href="#"> 
            <div class="menu-icon vd_red"><i class=" fa fa-cogs"></i></div> 
            <div class="menu-text">  Your setting is updated
              <div class="menu-info"><span class="menu-date">12 Days Ago</span></div>                            
            </div> 
          </a> </li>                                     
          <li> <a href="#"> 
            <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div> 
            <div class="menu-text">  Added new article
              <div class="menu-info"><span class="menu-date">19 Days Ago</span></div>                              
            </div> 
          </a> </li> 
          <li> <a href="#"> 
            <div class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></div> 
            <div class="menu-text">  Change Profile Pic
              <div class="menu-info"><span class="menu-date">20 Days Ago</span></div>                              
            </div> 
          </a> </li>                                                                                

        </ul>
      </div><div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px; height: 352px;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 352px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
      <div class="closing text-center" style="">
        <a href="#">See All Notifications <i class="fa fa-angle-double-right"></i></a>
      </div>                                                                       
    </div>                              
  </div> <!-- child-menu -->                      
</div>   <!-- vd_mega-menu-content -->         
