<div class='logo'>
  <a href='#'>
    <img alt='logo' src='img/logo.png'>
  </a>
</div>

<div class='panel-menu hidden-sm hidden-xs'>
  <span class='nav-medium-button menu' data-toggle="tooltip" data-placement="bottom" data-original-title="Medium Nav Toggle">
    <i class='fa fa-bars'></i>
  </span>

  <span class='nav-small-button menu' data-toggle="tooltip" data-placement="bottom" data-original-title="Small Nav Toggle">
    <i class='fa fa-ellipsis-v'></i>
  </span>
</div>

<div class='panel-menu visible-sm visible-xs'>
  <span class='menu'>
    <i class='fa fa-ellipsis-v'></i>
  </span>
</div>

<div class='panel-menu visible-sm visible-xs'>
  <span class='menu visible-xs'>
    <i class='fa fa-bars'></i>
  </span>

  <span class='menu visible-sm visible-xs'>
    <i class='fa fa-comments'></i>
  </span>
</div>
