<a href='#' class='mega-link'>
  <span class='mega-image'>
    <img src='img/avatar/avatar.jpg' alt='avatar'>
  </span>
  <span class='mega-name'>
    {{ username }}
    <i class='fa fa-caret-down fa-fw'></i>
  </span>
</a>

<div class='mega-menu-content ' style='display: none;'>
  <div class='child-menu'>
    <div class='content-list'>
      <ul class="list-wrapper pd-lr-10">
        <li>    
        <a href="#">
          <div class="menu-icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="menu-text">Messages</div>
          <div class="menu-badge">
            <div class="badge vd_bg-red">10</div>
          </div>
        </a>      
        </li>   
        <li>    
        <a href="#">
          <div class="menu-icon">
            <i class="fa fa-tasks"></i>
          </div>
          <div class="menu-text">Tasks</div>
          <div class="menu-badge">
            <div class="badge vd_bg-red">5</div>
          </div>
        </a>    
        </li>     
        <li class="line"></li>                    
        <li>    
        <a href="#">
          <div class="menu-icon">
            <i class="fa fa-lock"></i>
          </div>
          <div class="menu-text">Privacy</div>
        </a>    
        </li>   
        <li>    
        <a href="#">
          <div class="menu-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="menu-text">Settings</div>
        </a>    
        </li>   
        <li>    
        <a href="#">
          <div class="menu-icon">
            <i class="fa fa-key"></i>
          </div>
          <div class="menu-text">Lock</div>
        </a> </li>    
        <li>    
        <a href="#" class='logout'>
          <div class="menu-icon">
            <i class="fa fa-sign-out"></i>
          </div>
          <div class="menu-text">Sign Out</div>
        </a>    
        </li>    
        <li class="line"></li>    
        <li>    
        <a href="#">
          <div class="menu-icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <div class="menu-text">Help</div>
        </a>    
        </li>   
      </ul>       
    </div>    
  </div>    
</div>                 
      </ul>   
    </div>
  </div>
</div>
