<ul class="breadcrumb">
</ul>

<div class="panel-menu hidden-sm hidden-xs">
  <div class="remove-sidebar-button menu" data-target="sidebar" 
    data-original-title="Remove Navigation Bar Toggle" 
    data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-arrows-h"></i>
  </div>

  <div class="remove-header-button menu" data-target="header" 
    data-original-title="Remove Top Menu Toggle" 
    data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-arrows-v"></i>
  </div>

  <div class="fullscreen-button menu" data-target="fullscreen" 
    data-original-title="Remove Navigation Bar and Top Menu Toggle" 
    data-toggle="tooltip" data-placement="bottom">
    <i class="fa fa-arrows-alt"></i> 
  </div>
</div>
