/*
 *= require bootstrap  
 */

@import "active_admin/mixins";
@import "active_admin/base";

#header ul.tabs > li {
  & > a.active {
    background: #7b8389;
    color: #fff;
  }

  a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

// Override bootstrap
form fieldset ol > li label.label {
  display: block;
  text-align: left;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  color: #5e6469;
}

.breadcrumb {
  background: transparent;
}

input[type="date"] {
  line-height: 1;
  text-align: center;
}

li.action {
  list-style: none;
}
