// = require font/font-awesome
@import "shared/mixins";

.dd-content { 
  display: block; 
  height: 30px; 
  margin: 5px 0; 
  padding: 5px 10px 5px 40px; 
  color: #333; 
  text-decoration: none; 
  font-weight: bold; 
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:         linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  @include box-sizing(border-box);

  &:hover { 
    color: #2ea8e5; 
    background: #fff; 
  }
}

.dd-item {
  & > .dd-content { 
    margin: 0; 
  }

  & > button { 
    margin-left: 30px; 
  }
}

.dd-handle { 
  margin: 0; 
  cursor: pointer; 
  border: 1px solid #aaa;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover { 
    background: #ddd; 
  }
}
