<div class="head-section clearfix">
  <div class="panel-header">
    <ul class="breadcrumb">
      <li><a href="index.php">Home</a></li>
      <li class="active">Dashboard</li>
    </ul>

    <div class="panel-menu hidden-sm hidden-xs">
      <div class="remove-navbar-button menu">
        <i class="fa fa-arrows-h"></i>
      </div>

      <div class="remove-header-button menu">
        <i class="fa fa-arrows-v"></i>
      </div>

      <div class="fullscreen-button menu">
        <i class="fa fa-arrows-alt"></i> 
      </div>
    </div>
  </div>
</div>
