<div class="vd_title-section clearfix">
  <div class="vd_panel-header">
    <h1>Dashboard</h1>
    <small class="subtitle">Blogging Dashboard Example</small>
    <div class="vd_panel-menu  hidden-xs">
      <div class="menu no-bg vd_red" data-original-title="Start Layout Tour Guide" data-toggle="tooltip" data-placement="bottom" onclick="javascript:introJs().setOption('showBullets', false).start();"> <span class="menu-icon font-md"><i class="fa fa-question-circle"></i></span> </div>

      <div class="menu">
        <div data-action="click-trigger" class="">
          <span class="menu-icon mgr-10">
            <i class="fa fa-filter"></i>
          </span>Filter
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="vd_mega-menu-content width-xs-2 left-xs" data-action="click-target" style="display: none;">
          <div class="child-menu">
            <div class="content-list content-menu">
              <ul class="list-wrapper pd-lr-10">
                <li>
                <a href="#">
                  <div class="menu-icon">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="menu-text">Filter User</div>
                </a> 
                </li>
                <li>
                <a href="#">
                  <div class="menu-icon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <div class="menu-text">Filter Date</div>
                </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- menu --> 
    </div>
    <!-- vd_panel-menu --> 
  </div>
  <!-- vd_panel-header --> 
</div>
